
@media screen and (max-width: 1366px) {
  body {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 1.5rem;
  }
}

.responsive {
  display: grid;
  width: 30vw;
  height: 30vh;
}

.box {
  margin: 5px;
  width: 30%;
  height: 30%;
  background-color: red;
  color: red;
  border: 1px black solid;
}

img {
  display: block;
  max-width: 100%;
}

body {
  display: grid;
  grid-auto-flow: column;
  gap: 6px;
}

div {
  border: 2px solid #2ecc71;
  margin-left: 6px;
}

@media screen and (max-width: 768px) {
body {
    grid-auto-flow: row;
} 
}